# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
*.js.map

# Database
*.sql
migrations/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.env*
.next/
.nuxt/
.turbo/
coverage/
*.tsbuildinfo
.docusaurus/
pnpm-lock.yaml
package-lock.json
yarn.lock
